@model IEnumerable<Putidms.Domain.Models.EvaluationRecord>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <h4><span class="glyphicon glyphicon-th-list"></span> 考核记录 - @string.Format("{0}({1})", @ViewBag.Counselor.UserName, @ViewBag.Counselor.ReligiousName)</h4>
    </div>
    <div class="col-md-2">
        <a class="btn btn-info" href="@Url.Action("add",new { counselorId = @ViewBag.Counselor.Id })" role="button">
            <span class="glyphicon glyphicon-plus"></span> 新增考核记录
        </a>
    </div>
</div>
<table class="table table-condensed table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model.ToList()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            <a href="@Url.Action("edit", new { id = item.Id })" title="编辑" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-edit"></span>编辑
            </a>
            <a href="javascript:void(0);" title="删除" class="btn btn-xs btn-default"
               onclick="confirm_delete('@Url.Action("delete", new { id = item.Id })');">
                <span class="glyphicon glyphicon-trash"></span>删除
            </a>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("返回辅导员列表", "Index", "counselor")
</div>
<hr />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryconfirm")
    @Scripts.Render("~/bundles/app")
}
